In [1]:
%matplotlib inline
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
import seaborn as sns
sns.set(style="whitegrid", color_codes=True)

In [2]:
df_test = pd.read_csv('./test.csv',index_col=0)

In [3]:
df_sales_history = pd.read_csv('./df_sales_history.csv')

In [4]:
df_train = df_sales_history[df_sales_history.date < '2015-10-01']

In [5]:
df_train_test =  df_sales_history[df_sales_history.date >= '2015-10-01']

In [7]:
df_train.columns

Index([u'date', u'date_block_num', u'shop_id', u'item_id', u'item_price',
       u'item_cnt_day', u'item_category_id', u'month', u'day', u'yr',
       u'month_year'],
      dtype='object')

In [8]:
shop_item_df = df_train[['shop_id','item_id']]

In [9]:
shop_item_df.shape

(2882335, 2)

In [10]:
df_train.shape

(2882335, 11)

In [11]:
shop_item_df.head()

   shop_id  item_id
0       59    22154
1       24    22154
2       27    22154
3       25    22154
4       25    22154

In [12]:
len(shop_item_df.shop_id.unique())

59

In [13]:
len(shop_item_df.item_id.unique())

21332

In [14]:
import scipy

In [19]:
shop_item_df.drop_duplicates().shape

(417004, 2)

In [20]:
shop_item_df.shape

(2882335, 2)

In [27]:
shop_item_dict = {}
for i, row in shop_item_df.iterrows():
    shop_id = row.shop_id
    item_id = row.item_id
    if shop_id not in shop_item_dict:
        shop_item_dict[shop_id] = {}
    if item_id in shop_item_dict[shop_id]:
        shop_item_dict[shop_id][item_id] += 1
    else:
        shop_item_dict[shop_id][item_id] = 1

In [29]:
len(shop_item_dict)

59